.container {
    width: fit-content;

    display: flex;
    gap: 1rem;
    align-items: center;

    border-radius: 0.5rem;


    
    &[data-role="system"] {
        background: purple;
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        color: white;
    }
    &[data-role="user"] {
        align-self: flex-end;
        .content {
            background: cyan;

        }
    }
    &[data-role="assistant"] {
        .content {
            background: green;

        }
        
    }

    .content {
        padding: var(--space);
        border-radius: calc(var(--space) * 0.5);
    }
}