:root {
    height: 100%;
    width: 100%;

    overflow: hidden;
    
    
    body {
        background: hsla(var(--dark), 1);
        
        //  @media screen and (min-width: 900px) {
        //      background: red;
        //      grid-template-columns: auto 1fr;
        //      grid-template-rows: 1fr 1fr;
        //  }
    }
}